{% block user_block %}
 {% if app.user %}
 	
	<div class="row-fluid"> 
        <div>
            <h6><i class="fa fa-address-card-o" aria-hidden="true"></i> {{ app.user.username }}</h6>
            <h6><i class="fa fa-envelope-o" aria-hidden="true"></i>  {{ app.user.email }}</h6>
            <h6><i class="fa fa-calendar" aria-hidden="true"></i> {{ app.user.lastLogin|date('d-m-Y H:i:s') }}</h6>
      		<li role="separator" class="divider"></li>
	  			<li><a href="{{ logout_path('main') }}"><i class="fa fa-sign-out" aria-hidden="true"> Logut</a></i></li>
    	</div>
	</div>
 {% endif %}
{% endblock %}

