{% extends "base.html.twig" %}
{% block body %}

                <div class="container col-md-4 h-100">
                    <div class="card rounded vertical-center">
                        <div class="card-header">
                            <h5 class="h5 mb-2 text-center">Mapea Manager</h5>
                            <img src="./build/static/sigCorporativo150x150.png" alt="Logo Sigcorporativo" title="Logo Sigcorporativo" class="rounded mx-auto d-block rounded img-fluid">
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert">
                                <p class="text-center font-weight-bold">
                                    El usuario y/o la contraseña son incorrectos
                                </p>
                            </div>
                            <div class="alert alert-primary" role="alert">
                                <p class="text-center font-weight-bold">
                                    <a href="{{ url('fos_user_security_login')}}">volver a la página de login</a>
                                </p>
                            </div>
                        </div>              
                    </div> 
                </div> 
{% endblock %}

